@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter-Regular.ttf') format('TrueType');
}

@layer base {
  .router-link-active {
    @apply bg-gray-100;

    & > .nav-icon {
      @apply text-warning-500;
    }

    & > .nav-label {
      @apply text-gray-700;
    }
  }
}

@layer base {
  .list-container div[data-pc-name='card'] div[data-pc-section='content'] {
    @apply py-2;
  }
}

body {
  margin: 0;
  background: var(--gray-100, #f2f4f7);
}
